html, body {
	margin: 0;
	padding: 0;
}

.page_left {
	margin-left: 120px;
}

.page_right {
	float: right;
	margin-right: 120px;
}

.sep {
	margin: 0 2px;
	color: #3F3935;
}

.page_top {
	height: 30px;
	background-color: #303030;
	/* 设置行高度 本行字体会垂直居中 */
	line-height: 30px;
}

.page_top>div {
	display: inline-block;
}

.page_top a {
	/* 去下划线  设施超链接下划线 */
	text-decoration: none;
	/* 设置字体大小 */
	font-size: 12px;
}

/* 未访问的连接 */
.page_top a:link {
	color: #b0b0b0;
}

/* 已经访问过的 */
.page_top a:visited {
	color: #b0b0b0;
}

/* 鼠标悬浮的效果 */
.page_top a:hover {
	color: #fff;
}

/* 鼠标点击时的效果 */
.page_top a:active {
	color: #fff;
}

/* ------------------------------ */
.ul_dh {
	height: 100px;
	margin: 0px;
}

.ul_dh>li {
	list-style: none;
	display: inline-block;
	height: 100%;
	line-height: 100px;
	/* 内边距 */
	padding: 0px 10px;
}

.ul_dh>li:hover {
	color: red;
}

.ul_dh>li>a {
	text-decoration: none;
	color: #000;
}

.ul_dh>li>a:hover {
	text-decoration: none;
	color: #FF0000;
}

.page_dh {
	height: 100px;
}

.page_dh>div {
	float: left;
}

.page_dh_img {
	margin-left: 120px;
	height: 100px;
}

.page_dh_img>img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.page_dh_ul {
	padding-left: 100px;
}

.header-nar {
	position: absolute;
	background-color: #fff;
	display: none;
	left: 0px;
	width: 100%;
	height: 200px;
	z-index: 50;
	border: 1px solid #DCDCDC;
}

.nav_ul {
	width: 960px;
	margin: 0 auto;
}

.nav_ul>li {
	width: 160px;
	list-style: none;
	float: left;
}

.nav_ul>li>div {
	/* 文本居中 */
	text-align: center;
}

.nav_ul>li img {
	margin-top: 25px;
}

.nav_li-name {
	position: absolute;
	margin-left: 40px;
	top: 110px;
	height: 40px;
	font-family: "宋体";
	/* left: 350px; */
	color: #3F3935;
	/* text-align: center; */
}

.nav_li-price {
	position: absolute;
	top: 130px;
	margin-left: 50px;
	height: 40px;
	font-size: 12px;
	color: red;
}

/* .lb_div{
	height: 460px;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.lb_img_list{
	height: 460px;
	width: 6200px;
}
.lb_img{
	height: 460px;
	width: 1200px;
	
} */
/* a.hover{
	color: red;
} */
.div div {
	float: left;
	margin-right: 20px;
	background-color: whitesmoke;
}

.div_img>img {
	margin-left: 200px;
	width: 234px;
	height: 614px;
}

.div_1 {
	position: relative;
	height: 280.6px;
	width: 234px; '
	background-color: white;
}

.div_1:hover {
	top: -2px;
	box-shadow: 2px 2px 2px powderblue;
}

.div_2 {
	background-color: white;
	height: 249.6px;
	width: 234px;

	/* margin: 0 auto; */
}

.div_1 img {
	height: 180px;
	width: 180px;
}

.text_center {
	text-align: center;
}

.text_fff {
	color: #B0B0B0;
}

.text_xxx {
	color: #FF0000;
}
 .div{
	
	height: 614px;
	width: 1326px;
} 

/* .div_zong{
	left: 300px;
} */
.jiemian {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	width: 234px;
	height: 460px;
	top: 0px;
}

.jiemian_2>a {
	text-decoration: none;
	display: block;
	padding-top: 21px;
	color: #000000;
}

.jiantou {
	position: absolute;
	right: 20px;
	color: white;
	font-size: 20px;
}

.jiemian_1 {
	position: absolute;
	left: 20px;
	list-style: none;
	font-size: 15px;
}

.jiemian_1>a:hover {
	background-color: red;
}

.div_11 {
	width: 1240px;
	height: 170px;
}

.layui-carousel {
	margin: 0 auto;
}

.layui-carousel>img {
	width: 1000px;
	height: 460px;
}
